.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
python-script/__pycache__/
python-script/__pycache__
# Editor directories and files
.idea
.gradle
.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak
logs/
pid
mime*
**/target
.idea/
